
.redes{
        width: 200px;
        margin:auto;
    a{     
        float: left;   
        width: auto;     
    }
    li{
        margin-left: 0px;
        width: auto;
    }

    @each $red in facebook , instagram , youtube, whatsapp{
        li.#{$red}{ 
            background-image: url("../Img/Redes/#{$red}.png");
            background-size: cover;
            background-position: center;
            width: 50px;
            height: 50px;
            justify-content: center; 
        }
} 
    li{
        text-indent: -9999999px;
    }}